
/* https://mycolor.space/?hex=%2324035B&sub=1 */

.con-projects{
    border: 1px solid blue;
    text-align: center;
    height: 600px;
}


/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-tipo {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.con-subtitulos{
    display: flex;
    justify-content: center;
   }

.sub-titulos{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;  
}


/* Barra de navegación */
.navbar {
    /* border: 1px solid rgb(255, 0, 0); */
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#container-navbar{
   width: 50%;
   background-color: rgb(255, 255, 255);
   color: rgb(29, 28, 28);
   text-align: center;
   padding: 10px 0;
   box-shadow: 0 -2px 5px rgba(13, 36, 87, 0.8);
   margin-bottom: 35px;
   justify-content: center;
   border-radius: 25px;
}

/* Enlaces de navegación */
.nav-secciones {
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

/* Efecto hover para los enlaces */
.nav-secciones:hover {
    background: linear-gradient(to left, #1a1296, #2914a1, #3615ad, #4216b8, #4f17c3, #4f17c3, #4f17c3, #4f17c3, #4216b8, #3615ad, #2914a1, #1a1296);
    border-radius: 10px;
}
#icono-barra-menu{
    height: 20px ;
}


/* Barra de navegación */


/* start home */
.con-home{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content:left;
    /* min-height: 100vh; */
    position: relative;
    height: 600px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right top, #24035b, #042d7c, #004e97, #006eab, #008dba, #008dba, #008dba, #008dba, #006eab, #004e97, #042d7c, #24035b); */
  /* background: #24035b; */
  /* background: radial-gradient(circle, #24035b, #1b2474, #083e8a, #00569d, #006ead, #0072b0, #0075b2, #0079b5, #0069ad, #005aa3, #004998, #00398c); */
  background: linear-gradient(to left, #1a1296, #2914a1, #3615ad, #4216b8, #4f17c3, #4f17c3, #4f17c3, #4f17c3, #4216b8, #3615ad, #2914a1, #1a1296);
  opacity: 0.9;
  mix-blend-mode:color-burn; /*color-burn */
}
.con2-home{
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 30px;
    margin: 30px;
    position: relative;
    z-index: 2;
}
#foto-perfil{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
.capa-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 5, 173, 0.1); /* Color de fondo */
    mix-blend-mode: overlay; /* Mezcla el color y la imagen */   
    border-radius: 100%;
}
.con3-home{
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 30px;
    margin: 200px 30px 30px 10px;
    position: relative;
    z-index: 2;
}

.name-main{
    margin: 1px;
    font-family: "Inter", ;
    font-weight: Black 900;
    font-size: 50PX;
    color:#fceaff;
    text-shadow: 
                -1px -1px 0 #000, 
                1px -1px 0 #000,
                -1px  2px 0 #000,
                1px  5px 0 #000;
} 

  /* end home */


/*inicio  Acerca de mi */
.con-about-me{
    text-align: center;
}
#sub-titulo-perfil{
    color: #1a1296;
}
.subtitulos-2{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 35px; 
    color: #1a1296;
    margin-top: 5px; 
}
.con-about-me{
    padding: 30px;  
}
.con2-about-me{
    width: 95%;
    gap: 60px;
    display: flex;
    justify-content: center;
    padding: 20px;  
    margin-bottom: 20px;
    background: rgba(211, 208, 208, 0.212);
    border-radius: 10px;
}
.con-descripcion{
    width: 40%;
    padding: 10px 40px 10px 40px;  
    margin-bottom: 20px;
    background: rgba(211, 208, 208, 0.212);
}
#texto-descripcion{
    text-align: justify;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.con-educacion{
    width: 50%;
    padding: 20px 40px 20px 40px;  
    margin-bottom: 20px;
    background: rgba(211, 208, 208, 0.212);
}
#lista-educacion{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #1a1296;
    text-align: left;
    list-style-type: none;
}
#lista-educacion li{
margin-top: 10px;
}
/*final  Acerca de mi */




/*  seccion competencies*/
#sub-titulo-competencias{
    color:  #ddd5ec;
}

.con-competencies{
    /* border: 1px solid blue; */
    text-align: center;
    background: radial-gradient(circle, #1a1296, #2612a0, #3212aa, #3d12b4, #4810be, #4810be, #4810be, #4810be, #3d12b4, #3212aa, #2612a0, #1a1296);
}
.con2-competencias{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 30px;  
}
.con21-competencias{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
   /* background-color:  #1a1296; /*#ddd5ec*/
    border-radius: 15px;
}
.Competencia{
    margin: 10px 10px;
    width: 80%;
    height: 40px;
    border: 2px solid #007BFF;
    border-radius: 25px;
    align-content: center;
    justify-content: center;
    color:#ddd5ec;
    animation: border-animation 4s infinite;
}

/*efecto cambio de borde */
@keyframes border-animation {
    0% {
        border-color: #007BFF;
    }
    25% {
        border-color: #28a745;
    }
    50% {
        border-color: #910fe7;
    }
    75% {
        border-color: #dc3545;
    }
    100% {
        border-color: #007BFF;
    }
}

.Competencia:hover{
    background-color: #ddd5ec; 
    color: #1a1296; 
    border: 2px solid #910fe7;
    font-size: 18px;
    height: 50px; 
    cursor: pointer; /* Cambia el cursor a una mano */
}

 /* contenedor imagen y texto */
.con22-competencias{
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 15px;
    padding: 2px;
    background-image: url(Pictures/programador-Java.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.des-competencias{
    width: 90%;
    border: 2px solid rgb(0, 0, 0);
    height: 80%;
    border-radius: 15px;
    display: flex;
    gap: 20px;
}
#con-img-competencia{
    /* border: 2px solid rgb(184, 27, 27); */
    width: 40%;
    background-color: rgba(13, 36, 87, 0.9);
    padding:1%;
    border-radius: 15px;
    align-content: center;
}
#img-tec{
    width: 90%;
}

#con-texto-competencia{
    /* border: 2px solid rgb(204, 27, 27); */
    width: 90%;
    background-color: rgba(13, 36, 87, 0.9);
    padding:3%;
    border-radius: 15px;
    text-align:left;
    align-content: center;
}
.texto-habilidad{
color: #ddd5ec;
font-size: 16px;
font-weight: 400;
margin-top: 20px;
}

/* final competencies */



/*inicio  proyectos  */
.con-projects{
 display: flex;
 flex-direction: column;
 background-image: url(Pictures/desarrollador_java.png);
 background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
 background-position: center; /* Centra la imagen en el contenedor */
 background-repeat: no-repeat; /* Evita que la imagen se repita */
}
#sub-titulo-proyectos{
    color: #1a1296;
}

/* carrusel proyectos  */

.con-principal-carusel{
    display: flex;
    justify-content: center;
}
.con-carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.carousel-item p {
   font-size: 20px;
   font-weight: 400;
}

.boton-carrusel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(21, 3, 102);
    color: rgb(223, 221, 231);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
.img-proyecto{
    width: 150px;
    height: 120px;
    border-radius: 10px;
}
/* fin carrusel proyectos  */

/*final  proyectos  */

/*Contact */
.con-contact{
    border: 1px solid blue;
    text-align: center;
    background: linear-gradient(to left, #1a1296, #2914a1, #3615ad, #4216b8, #4f17c3, #4f17c3, #4f17c3, #4f17c3, #4216b8, #3615ad, #2914a1, #1a1296);
}
.con-contact-contenido{
display: flex;
justify-content: center;
flex-wrap: wrap-reverse;
gap: 40px;
}
.con-contact-contenido1{
display: flex;
flex-direction: row;
padding: 20px;
justify-content: center;
align-items: center;
align-content: center;
width: 90%;
margin-bottom:70px;
}
.con-datos-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.con-datos-contacto p {
    font-size: 20px;
    color: #ddd5ec;
    margin: 20px;
}
.con-datos-contacto a{
    font-size: 20px;
    color: #ddd5ec;
    margin: 20px;
}
.icono-contacto{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #1a1296;
    padding: 10px;
    margin: 10px;
}
 
/* contenedor formulario */
.con-contact-contenido2{
    /* border: 2px solid rgb(128, 0, 117); */
    padding: 20px;
    width: 90%;
}
.form-contacto1{
    width: 90%;
    display: flex;
    gap: 20px;
    justify-content:space-between ;
}
.form-contacto2{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.con-entradas{
 display: flex;
 flex-direction: column;
 text-align: left;
 width: 100%;
}
.con-entradas label{
    font-size: 20px;
    color: #ddd5ec;
    margin: 10px 10px;
   }
   .con-entradas input{
    font-size: 20px;
    color: #1e0350;
    margin: 10px 10px;
    height: 30px;
    border-radius: 10px;
    width: 92%;
   }  
   .con-entradas textarea{
    font-family: "Inter", serif;
    font-size: 20px;
    
    color: #1e0350;
    margin: 10px 10px;
    border-radius: 10px;
   } 
.con-form-boton{
    display: flex;
    justify-content: right;
}
.con-form-boton button{
    height: 60px;
    width: 150px;
    border-radius: 15px;
    border: 2px solid #007BFF;
    font-size: 20px;
    color: #ddd5ec;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}
.con-form-boton button:hover{
    border: 2px solid #910fe7;
}
/*final  Contact */



/*inicio footer */
.con-footer{
    display: flex;
    justify-content: right;
    gap: 20px;
    background: #1a1296;
    color: #ddd5ec;
    height: 50px;
    font-size: 12px;
    padding-right: 40px;
}

/* Estilos para dispositivos extra grandes (XL): 1248px en adelante */
@media (min-width: 1200px) {
  
}/*end XL*/

/* Estilos para dispositivos grandes (L): */ 
@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

/* Estilos para dispositivos medianos (M): 768px a 991px */
@media (min-width: 768px) and (max-width: 991.98px) {

    .sub-titulos{
        font-size: 45px;  
    }
  /*ajustes para el inicio */

  .con-home{
    height: 500px;
}
  .con2-home{
    padding: 10px;
    margin: 20px;
}
#foto-perfil{
    width: 200px;
    height: 200px;
}
.con3-home{
    padding: 30px;
    margin: 110px 30px 30px 10px;
}

.name-main{
    margin: 10px;
    font-family: "Inter", ;
    font-weight:400;
    font-size: 35PX;
}


  /*ajustes para Acerca de mi*/


.subtitulos-2{
    font-size: 30px; 
    margin-top: 5px;
}
.con-about-me{
    padding: 20px;  
    width: 90%;
}
.con2-about-me{
    width: 95%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con-descripcion{
    width: 80%;
}
#texto-descripcion{
    font-size: 18px;
}
.con-educacion{
    width: 80%;
}
#lista-educacion{
    font-size: 18px;
}
/*final ajustes Acerca de mi*/

}

/* Estilos para dispositivos pequeÃ±os (S): 576px a 767px */
@media (min-width: 576px) and (max-width: 767.98px) {

    .sub-titulos{
        font-weight: 500;
        font-style: normal;
        font-size: 40px;  
    }
    /*ajustes para el inicio */
    .con-home{
        height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .con2-home{
        padding: 1px;
        margin-top: 80px;
        margin-bottom: 5px;
    }
    #foto-perfil{
        width: 160px;
        height: 160px;
    }
    .con3-home{
        padding: 10px;
        margin: 1px 30px 30px 10px;
    } 
    .name-main{
        margin-top:10px;
        font-family: "Inter", ;
        font-weight:300;
        font-size: 26PX;
    }

    /* final ajustes para el inicio */

     /*ajustes para Acerca de mi*/

.subtitulos-2{
    font-size: 30px; 
    margin-top: 5px;
}
.con-about-me{
    padding: 20px;  
    width: 90%;
}
.con2-about-me{
    width: 85%;
    gap: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con-descripcion{
    width: 95%;
}
#texto-descripcion{
    font-size: 15px;
}
.con-educacion{
    width: 95%;
}
#lista-educacion{
    font-size: 16px;
}
/*final ajustes Acerca de mi*/

}

/* Estilos para dispositivos extra pequeÃ±os (XS): Menos de 576px */
@media (max-width: 575.98px) {

    .sub-titulos{
        font-weight: 500;
        font-style: normal;
        font-size: 30px;  
    }
    /*ajustes para el inicio */
    .con-home{
        height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .con2-home{
        padding: 1px;
        margin-top: 80px;
        margin-bottom: 5px;
    }
    #foto-perfil{
        width: 100px;
        height: 100px;
    }
    .con3-home{
        padding: 10px;
        margin: 1px 30px 30px 10px;
    } 
    .name-main{
        margin-top:10px;
        font-weight:300;
        font-size: 22PX;
        text-align: center;
    }

    /* final ajustes para el inicio */

     /*ajustes para Acerca de mi*/

.subtitulos-2{
    font-size: 30px; 
    margin-top: 5px;
}
.con-about-me{
    padding: 5px;  
    width: 90%;
    border: 1px solid blue;
}
.con2-about-me{
    width: 96%;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con-descripcion{
    width: 95%;
}
#texto-descripcion{
    font-size: 15px;
}
.con-educacion{
    width: 95%;
}
#lista-educacion{
    font-size: 16px;
}
/*final ajustes Acerca de mi*/

}



