
/* https://mycolor.space/?hex=%2324035B&sub=1 */
.con-about-me{
    border: 1px solid blue;
    text-align: center;
}
.con-projects{
    border: 1px solid blue;
    text-align: center;
    height: 600px;
}
.con-contact{
    border: 1px solid blue;
    text-align: center;
    background: #3996CF;
    height: 600px;
}

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-tipo {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.con-subtitulos{
    display: flex;
    justify-content: center;
   }
.sub-titulos{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;  
}

/* nav */
/* Barra de navegación */
.navbar {
    border: 1px solid rgb(255, 0, 0);
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#container-navbar{
   width: 50%;
   background-color: rgb(255, 255, 255);
   color: rgb(29, 28, 28);
   text-align: center;
   padding: 10px 0;
   box-shadow: 0 -2px 5px rgba(13, 36, 87, 0.8);
   margin-bottom: 35px;
   justify-content: center;
   border-radius: 25px;
}

.movimiento{
    background-color: rgba(179, 17, 17, 0.774); 
}


/* Enlaces de navegación */
.nav-secciones {
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

/* Efecto hover para los enlaces */
.nav-secciones:hover {
    background-color:  #3996CF;
    border-radius: 10px;
}
#icono-barra-menu{
    height: 20px ;
}


/* nav */


/* start home */
.con-home{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content:left;
    /* min-height: 100vh; */
    position: relative;
    height: 600px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right top, #24035b, #042d7c, #004e97, #006eab, #008dba, #008dba, #008dba, #008dba, #006eab, #004e97, #042d7c, #24035b); */
  /* background: #24035b; */
  background: radial-gradient(circle, #24035b, #1b2474, #083e8a, #00569d, #006ead, #0072b0, #0075b2, #0079b5, #0069ad, #005aa3, #004998, #00398c);
  opacity: 0.8;
  mix-blend-mode: color-burn;
}
.con2-home{
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 30px;
    margin: 30px;
    position: relative;
    z-index: 2;
}
#profile-photo{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.capa-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 5, 173, 0.44); /* Color verde con 50% de opacidad */
    mix-blend-mode: overlay; /* Mezcla el color y la imagen */   
    border-radius: 100%;
}
.con3-home{
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 30px;
    margin: 200px 30px 30px 10px;
    position: relative;
    z-index: 2;
}

.name-main{
    margin: 1px;
    font-family: "Inter", ;
    font-weight: Black 900;
    font-size: 50PX;
    color:#fceaff;
    text-shadow: 
                -1px -1px 0 #000, 
                1px -1px 0 #000,
                -1px  2px 0 #000,
                1px  5px 0 #000;
} 

  /* end home */

  /* Acerca de mi */

.con-about-me{
    padding: 30px;
}

#sub-titulo-perfil{
    color: #fceaff;
    width: 300px;
    border-radius: 30px;
    background: #24035b;
}
.con2-about-me{
    padding: 80px;
    
    margin-bottom: 20px;
    background: #fceaff;
    border-radius: 10px;
}
.descripcion{
    text-align: justify;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

/*  competencies*/

#sub-titulo-competencias{
    color:  #24035b;
    width: 300px;
    border-radius: 30px;
    background: #fceaff;
}

.con-competencies{
    border: 1px solid blue;
    text-align: center;
    background: #3996CF ;
}
.con2-competencias{
    border: 2px solid rgb(255, 0, 106);
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
    margin-bottom: 30px;
    
}
.con21-competencias{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #f0f0f0; 
    border-radius: 15px;
    
   
}
.Competencia{
    background: #007BFF;
    margin: 10px 10px;
    width: 50%;
    height: 40px;
    border-radius: 25px;
    align-content: center;
    justify-content: center;
    color:#f0f0f0;
}
.Competencia:hover{
    background-color: #f0f0f0; 
    color: #007BFF; 
    border:1px solid #007BFF; 
    cursor: pointer; /* Cambia el cursor a una mano */
}
.con22-competencias{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 15px;
    padding: 10px;
    background-image: url(Pictures/programador-Java.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.des-competencias{
    border: 2px solid black;
    height: 90%;
    width: 90%;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}
#img-competencia{
    border: 2px solid rgb(184, 27, 27);
    width: 50%;
}
#texto-competencia{
    border: 2px solid rgb(204, 27, 27);
    width: 50%;
    height: 100%;
}

/* proyectos  */


/*Contact */

/* Estilos para dispositivos extra grandes (XL): 1200px en adelante */
@media (min-width: 1200px) {

}/*end XL*/

/* Estilos para dispositivos grandes (L): 992px a 1199px */ 
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* Estilos para dispositivos medianos (M): 768px a 991px */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Estilos para dispositivos pequeÃ±os (S): 576px a 767px */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Estilos para dispositivos extra pequeÃ±os (XS): Menos de 576px */
@media (max-width: 575.98px) {
}

