/* .con-about-me, .con-competencies, .con-projects, .con-contact {
    text-align: center;
    background: linear-gradient(to bottom, #041340, #044d8c);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.con2-about-me, .con2-competencias {
    display: flex;
    justify-content: center;
    width: 98%;
    gap: 30px;
}

.con-descripcion, .con-educacion {
    width: 48%;
    background-color: #041340;
    border-radius: 10px;
    padding: 20px;
}

.con-contact-contenido {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

/* Arreglo para Competencias */
/* .con22-competencias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    background-image: url(Pictures/programador-Java.jpg);
    background-size: cover;
}  */


