.img-proyecto {
    width: 450px;
    height: 220px;
    border-radius: 10px;
}

.icono-contacto {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: float 3s ease-in-out infinite;
}


#foto-perfil{
    width: 15rem;
    height: 18rem;
    object-fit: cover;
}