#foto-perfil {
    width: 250px;
    height: 300px;
    border-radius: 10%;
}

.img-proyecto {
    width: 450px;
    height: 220px;
    border-radius: 10px;
}

.icono-contacto {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: float 3s ease-in-out infinite;
}

.img-proyecto{
    width: 450px;
    height: 220px;
    border-radius: 10px;
}