@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes border-animation {
    0% { border-color: #007BFF; }
    25% { border-color: #28a745; }
    50% { border-color: #910fe7; }
    75% { border-color: #dc3545; }
    100% { border-color: #007BFF; }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}
