
.con-about-me {
    text-align: center;
    background: linear-gradient(to bottom, #041340, #072052, #092f65, #093d78, #044d8c);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con2-about-me {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.con-descripcion,
.con-educacion {
    padding: 20px 40px;
    background-color: #041340;
    border-radius: 10px;   
} 

.con-descripcion {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 3rem;
    box-shadow: 0 0 15px rgba(5, 242, 155, 0.8);
}

#contenedor-foto-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto-descripcion {
    text-align: justify;
    font-size: 22px;
    line-height: 1.2;
    color: #ddd5ec;
}

.con-educacion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    box-shadow: 0 0 15px rgba(178, 104, 251, 0.8);
}

#contenedor-detalles-edu{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
}


#lista-educacion {
    font-size: 22px;
    color: #ddd5ec;
    text-align: left;
}

#lista-educacion li {
    margin-top: 10px;
    list-style: none;
}
