.con-competencies {
    text-align: center;
    background: linear-gradient(to bottom, #041340, #044d8c);
}

.con2-competencias {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.con21-competencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.Competencia {
    margin: 10px 10px;
    width: 80%;
    height: 40px;
    border: 2px solid #007BFF;
    border-radius: 25px;
    align-content: center;
    justify-content: center;
    color:#ddd5ec;
    animation: border-animation 4s infinite; 
}

.Competencia:hover {
    border: 2px solid #910fe7;
    font-size: 18px;
    box-shadow: 0 0 20px rgba(45, 162, 240, 0.979);
}

.con22-competencias {
    display: flex;
    justify-content: center;
    width: 80%;
    background-image: url(Pictures/programador-Java.jpg);
    background-size: cover;
    background-position: center;
}

.des-competencias {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#con-img-competencia {
    width: 40%;
    background-color: rgba(13, 36, 87, 0.9);
    padding: 1%;
    border-radius: 15px;
}

#img-tec {
    width: 90%;
}

#con-texto-competencia {
    width: 90%;
    background-color: rgba(13, 36, 87, 0.9);
    padding: 3%;
    border-radius: 15px;
}

.texto-habilidad {
    color: #ddd5ec;
    font-size: 20px;
    margin-top: 20px;
}
