.con-home {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 250px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      #344459,
      #325074,
      #2e5c90,
      #2668ad,
      #1b74ca,
      #1781db,
      #108feb,
      #009dfc,
      #00afff,
      #00bffe,
      #00cef9,
      #05dbf2
    );
    opacity: 0.9;
    mix-blend-mode: color-burn;
}

.con3-home {
    padding: 30px;
    margin: 50px 30px 30px 50px;
    position: relative;
    z-index: 2;
}

.name-main {
    margin: 1px;
    font-weight: 900;
    font-size: 50px;
    color: #fceaff;
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  2px 0 #000,
       1px  5px 0 #000;
}
