.con-projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom, #041340, #044d8c);
}

.img-proyecto {
    width: 450px;
    height: 220px;
    border-radius: 10px;
}
